
<div class="card main-page-book" data-toggle="modal" data-target="#exampleModal"   {{action "pickCurrentBook" book }}>
  <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
  <div class="card-body main-page-book-body">
    <h3 class="card-title">{{book.name}}</h3>
    <em>by</em>
    <p class="card-text">{{book.author}}</p>
    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna .</p>
  </div>
  <div class="card-footer text-muted">
  available:
  <span class="badge badge-primary badge-pill">{{book.available}}</span>
  total:
  <span class="badge badge-primary badge-pill">{{book.amount}}</span>
<<<<<<< Updated upstream
</div>
=======
>>>>>>> Stashed changes
</div>
</div>
 
