<form class="form-inline" id="book-filter">
  <label class="sr-only">Filter</label>
  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="form-control btn btn-secondary dropdown-toggle mb-2 mr-sm-2">
 {{currentFilterValue}}
</button>
<div class="dropdown-menu">
 <a class="dropdown-item" {{action "filterParam" "name"}} >Title</a>
 <a class="dropdown-item" {{action "filterParam" "author"}} >Author</a>
</div>
  <label class="sr-only">Search</label>
  <div class="input-group mb-2 mr-sm-2">
    {{input value=currentSearch class="form-control" type="text" placeholder="Search"}}
  </div>
</form>
{{yield results}}
