
<form class="form-inline">
   <div class="input-group">
     <div class="input-group-prepend">
       <div class="btn-group">
         <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{filterValue}}
         </button>
         <div class="dropdown-menu">
           <a class="dropdown-item" {{action "filterParam" "name"}} >Name</a>
           <a class="dropdown-item" {{action "filterParam" "author"}} >Author</a>
         </div>
     </div>
    {{input value=value class="form-control" key-up=(action 'handleFilterEntry') placeholder="Search books"}}
   </div>
 </div>
 </form>
{{yield results}}
